body {
  font-family: Arial, sans-serif;
  background-color: #719df0;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.container {
  background: rgb(183, 200, 223);
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: 400px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input[type="text"] {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #96c4b1;
  font-size: 1rem;
}

input.error {
  border-color: red;
}

button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #0051ff;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #1d027e;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f0f0f0;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

li.done span {
  text-decoration: line-through;
  color: gray;
}

.error {
  color: red;
  font-size: 0.9rem;
  height: 1em;
}